.tabs .tab a {
    color:white; 
    background: #00acc1;
  }

  .tabs .tab a.active, a:hover {
    color:#fbc02d!important; 
    background: #00bcd4!important;
  }
.tabs .indicator{
		background-color:#fbc02d!important;  
}

