<!DOCTYPE html>
<html>
<head>
	<title>GujChar</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha256-e22BQKCF7bb/h/4MFJ1a4lTRR2OuAe8Hxa/3tgU5Taw=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	><script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js" integrity="sha256-Cxf2osSjVdgIUDXd8CR70LjMnQD0TA908QL1v00EtMY=" crossorigin="anonymous"></script>
</head>
<body>

    <h1>Upload new File</h1>
    <form method="post" action="/classify" accept="image/jpg,image/jpeg" enctype="multipart/form-data">
      <p><input type=file name='file'>
         <input type=submit value=Upload>
    </form>
	<script src="/static/applcation.js"></script>
</body>
</html>