<!DOCTYPE html>
<html>
<head>
	<title>GujChar</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha256-e22BQKCF7bb/h/4MFJ1a4lTRR2OuAe8Hxa/3tgU5Taw=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js" integrity="sha256-Cxf2osSjVdgIUDXd8CR70LjMnQD0TA908QL1v00EtMY=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/jquery.form.js"></script>
</head>
<body class="grey lighten-4">
	<nav class="indigo">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Guj Char</a>
    </div>
  </nav>
  <br>
  <main>
  	<div class="container">
  	<div class="row">
  		<div class="col m12 s12">
  			<ul class="tabs">
		        <li class="tab col s6"><a href="#fileUpload">Upload Image</a></li>
		        <li class="tab col s6"><a class="active" href="#draw">Draw</a></li>
		      </ul>
  		</div>
  		<div class="col s12 white" id="fileUpload" align="center">
  			
        <h3>Upload new File</h3>
        <form method="post" action="/classifyUpload" accept="image/jpg,image/jpeg" enctype="multipart/form-data">
            <input type='file' id="file" name='file'>
            <button class="btn waves-effect waves-light indigo" type='submit'> Recognize </button>
        </form>
        <br>
  		</div>
  		<div class="col m12 white" id="draw" align="center">
        <br>
        <div class="row">
          <div class="col s6">
             <button type="button" onclick="dwawing()" class="btn waves-effect waves-light indigo" type='submit'> Recognize </button> 
          </div>
           <div class="col s6">
              <button type="button" onclick="clearCanvas()" class="btn waves-effect waves-light orange" type='submit'> Clear </button> 
          </div>
        </div>

  		</div>
  	</div>
  </div>
  </main>

  <div id="modal1" class="modal">
    <div class="modal-content">
       <div class="beforeu hideme">
         <h4>Uploading</h4>
         <div class="progress">
              <div class="determinate bar" ></div>
          </div>        
       </div>
       <div class="hideme afteru">
         <h4>Classifying</h4>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
       </div>
       <div class="hideme doneu">
         <h4 id="finale"> </h4>
       </div>
      </div>
      
    </div>
  </div>
	<script src="/static/application.js"></script>
</body>
</html>