<!DOCTYPE html>
<html>
<head>
	<title>GujChar</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha256-e22BQKCF7bb/h/4MFJ1a4lTRR2OuAe8Hxa/3tgU5Taw=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	><script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js" integrity="sha256-Cxf2osSjVdgIUDXd8CR70LjMnQD0TA908QL1v00EtMY=" crossorigin="anonymous"></script>
</head>
<body>
	<nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Logo</a>
    </div>
  </nav>
  <br>
  <main>
  	<div class="container">
  	<div class="row">
  		<div class="col m12">
  			<ul class="tabs">
		        <li class="tab col s6"><a href="#fileUpload">Upload Image</a></li>
		        <li class="tab col s6"><a class="active" href="#draw">Draw</a></li>
		      </ul>
  		</div>
  		<div class="col m12" id="fileUpload">
  			tab 1
  		</div>
  		<div class="col m12" id="draw">
  			tab 2
  		</div>
  	</div>
  </div>
  </main>
    
	<script src="/static/application.js"></script>
</body>
</html>